* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid red; */
    overflow: hidden;
}

body {
    background-color: black;
}

.banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    background-color: #107dcf;
    text-align: center;
    overflow: hidden;
}

.background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    z-index: 1;
}

.female-character, .headline1, .headline2, .subheadline, .logo, .learnmore-btn, .replay-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100vw;
    max-height: 100vh;
    z-index: 2;
}
